{% extends 'layout.html' %} 

{% block title %}MovieBox/{{ actor.first_name }} {{ actor.last_name }}{% endblock %} 

{% block content %}
<h1>{{ actor.first_name }} {{ actor.last_name}}</h1>

<div>
    Date of birth: {{ actor.birth_date }}
    <img src ="{{ actor.picture }}" />
</div>

<div>
    <h4>Played in:</h4>
    <ul>
       	{% for movie in actor.Movies.all %}
       	<li>
       		<p>{{ movie.name }}</p>
       		<a href="/movie/{{ movie.pk }}/">
                    <button>
                        Details
                    </button>
                </a>
   	   	</li>

       {% endfor %}
    </ul>
</div>

{% endblock %}