<!DOCTYPE html>
{% extends 'layout.html' %}

{% block title %}Edit Movie{% endblock %}

{% block content %}

<h1>Edit Movie</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!--{{ form.as_p }}-->
    <div>
        <label for="id_name">Name</label>
        <input id="id_name" type="text" name="name" value="{{ form.instance.name }}" maxlength="100" required/>
    </div>
    <div>
        <label for="id_date">Date</label>
        <input id="id_date" type="text" name="date" value="{{ form.instance.date|date:'d/m/Y' }}" required/>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <div>
        <label for="id_genre">Genre</label>
        <select id="id_genre" required name="genre">
              {% for value, display in form.fields.genre.choices %}
              <option value="{{ value }}"
                      {% if value == form.instance.genre %}
                            selected
                      {% endif %}>
                  {{ display }}
              </option>
              {% endfor %}
        </select>
    </div>
    <div>
        <label for="id_actors">Actors</label>
        <select id="id_actors" name="actors" multiple>
            {% for actor in actors %}
                <option value="{{ actor.pk }}"
                    {% if movie_pk in actor.movies_pk %}
                        selected
                    {% endif %}
                >
                    {{ actor.first_name|add:' '|add:actor.last_name }}

                </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="id_description">Description</label>
        <textarea id="id_description" name="description" maxlength="5000" rows="10" cols="40" required>{{ form.instance.description }}</textarea>
    </div>
    <div>
        <label for="id_cover">Cover</label>
        <input id="id_cover" type="file" name="cover"/>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}