{% extends 'layout.html' %} 

{% block title %}MovieBox{% endblock %} 

{% block content %}

<h1>Movies</h1>

<table>
    <caption>List of all Movies</caption>
    <thead>
        <tr>
       		<th></th>
            <th>Name</th>
            <th>Date</th>
            <th>Genre</th>
            <th>Score</th>
            <th></th>
            {% if user.is_superuser %}
            <th></th>
             {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
        	<td>{{ movie.cover}}</td>
            <td>{{ movie.name }}</td>
            <td>{{ movie.date }}</td>
            <td>{{ movie.get_genre_display }}</td>
            <td>{{ movie.score }}</td>
            <td>
                <a href="/movie/{{ movie.pk }}/">
                    <button>
                        Details
                    </button>
                </a>
            </td>
            {% if user.is_superuser %}
             <td>
                <a href="/movie/{{ movie.pk }}/update">
                    <button>
                        Update
                    </button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}