{% extends 'layout.html' %}

{% block title %}MovieBox / {{ movie.name }}{% endblock %}

{% block content %}
<h1>{{ movie.name }}</h1>

<div>
    Date: {{ movie.date }}
</div>

<div>
    Genre: {{ movie.genre }}
</div>

<div>
    Score : {{ movie.score }}
</div>
<div>
    <h4>Cast</h4>
    <ul>
       {% for actor in movie.actors.all %}
            <li>
            	<div>{{ actor.first_name}} {{ actor.last_name}}</div>
            	<a href="/actor/{{ actor.pk }}/">
                    <button>
                        Details
                    </button>
                </a>

            </li>

        {% endfor %}
    </ul>
    <h4>Vote</h4>
{% load static %}<button onclick = "vote()" value = "1"><img src = "{% static 'images/star.png' %}" height = "30" width = "30" /></button>
<button onclick = "/movie/{{ movie.pk }}" value = "2"><img src = "{% static 'images/star.png' %}" height = "30" width = "30" /></button>
<button onclick = "/movie/{{ movie.pk }}" value = "3"><img src = "{% static 'images/star.png' %}" height = "30" width = "30" /></button>
<button onclick = "/movie/{{ movie.pk }}" value = "4"><img src = "{% static 'images/star.png' %}" height = "30" width = "30" /></button>
<button onclick = "/movie/{{ movie.pk }}" value = "5"><img src = "{% static 'images/star.png' %}" height = "30" width = "30" /></button>
</div>

{% endblock %}
