{% extends 'layout.html' %} 

{% block title %}MovieBox{% endblock %} 

{% block content %}

<h1 style="color: #64993F;"">Movies</h1>
{% for movie in items %}
<div class="container well" style="background-color: #f6f2d9; border-color: #64993F; border-width: 2px; box-shadow: 2px 2px;">
    <div style="float:left; padding: 30px">
        <img src="{{movie.cover.url}}" alt="pic" style="width: 200px">
    </div>
    <div>
        <h3 style="color: #64993F;">{{movie.name}}</h3>
        <div style="float: left;">
            Genre: {{ movie.get_genre_display }}
            <br>
             {{movie.date}}
            <br>
                <a href="/movie/{{ movie.pk }}/">
                    <button  class="btn-success"  style="margin-top: 15px; padding: 10px;">
                        Details
                    </button>
                </a>
            {% if user.is_superuser %}
            <a href="/movie/{{ movie.pk }}/update">
                 <button class="btn-success"  style="margin-top: 15px; padding:10px;">
                     Update
                 </button>
            </a>
            {% endif %}
        </div>
        <div style="float: right;">
            <h3 style="color: #64993F;">{{movie.score}}</h3>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
