{% extends 'layout.html' %} {% block title %}Sign Up{% endblock %} {% block content %}

<div class="container well" style="background-color: #f6f2d9; border-color: #64993F; border-width: 2px; box-shadow: 2px 2px;">
<h1 style="color: #64993F;">Sign Up</h1>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {{ form.errors }}
</div>
{% endif %}

<form method="POST" enctype="multipart/formdata" class="form">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Username</label>
        <input id="id_username" type="text" name="email" value="{{ form.instance.email }}" maxlength="100" required class="form-control"/>
    </div>
    <div class="form-group">
        <label for="id_password">Password</label>
        <input id="id_password" type="password" name="password" value="{{ form.instance.password }}" required class="form-control"/>
    </div>
    <div class="form-group">
        <label for="id_password">Confirm Password</label>
        <input id="id_password" type="password" name="password" value="{{ form.instance.password }}" required class="form-control"/>
    </div>
    <div class="form-group">
        <label for="id_first_name">First Name</label>
        <input id="id_first_name" type="text" name="first_name" value="{{ form.instance.first_name }}" maxlength="200" required class="form-control"/>
    </div>
    <div class="form-group">
        <label for="id_last_name">Last Name</label>
        <input id="id_last_name" type="text" name="last_name" value="{{ form.instance.last_name }}" maxlength="200" required class="form-control"/>
    </div>
    <div class="form-group">
        <label for="id_birth_date">Birth Date</label>
        <input id="id_birth_name" type="date" name="birth_date" value="{{ form.instance.birth_date }}" required class="form-control"/>
    </div>
    <div>
        <label for="id_image">Profile Picture</label>
        <input id="id_image" type="file" class="" value="{{ form.instance.profile_pic }}" name="image">
    </div>
    <br/>
    <button type="submit" class="btn btn-success">Sign Up</button>
</form>
</div>
{% endblock %}
